<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">

    <style>
        * {
            font-size: 12px;
        }
    </style>
</head>
<body>
%title% <br />
And the winner is <b>%winner%</b>
<hr />
Winner<br />
Min: %winnermin%<br />
Max: %winnermax%<br />
Avg: %winneravg%<br />

</body>
</html>