<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">

    <style>
        * {
            font-size: 12px;
        }

        body {
            padding: 10px;
        }
    </style>
</head>
<body>
%title% <br />
And the winner is <b>%winner%</b>
<hr />
%a%<br />
Min: %amin%<br />
Max: %amax%<br />
Avg: %aavg%<br />
<hr />
%b%<br />
Min: %bmin%<br />
Max: %bmax%<br />
Avg: %bavg%<br />

</body>
</html>